## Class is a keyword which is used to declare a user defined data type,  classes can have n number of attributed of different data types, they define the attributes of the object which is instantiated from this class, Classes are the expecially important as they are the blueprint created for a object.

In [6]:
class Employee:  #declaration of a class 
    pass           #Pass keyword is used to declare it as a empty class

emp1 = Employee()  #emp1 is the instance 
emp2 = Employee()  #emp2 is the sencond instance with same attributes as that of emp1

In [7]:
print(emp1)

<__main__.Employee object at 0x00000110C0E1BFA0>

In [8]:
print(emp2)

<__main__.Employee object at 0x00000110C0E21B80>

In [9]:
emp1.first = "manthan"
emp1.last  = "panchal"                            #these are attributes which are declared outside the class 
emp1.email = "manthanpanchal@companyname.com"

In [10]:
emp2.first = "xyz"
emp2.last  = "abc"
emp2.email = "xyzabc@companyname.com"

In [12]:
print(emp1.first)

manthan

In [13]:
print(emp2.first)

xyz

## Now we define the attributes and methods within the class declaration using __init__ method

In [46]:
class Employee:
    def __init__(self, first, last, pay): #self , first, last, email
                self.first = first
                self.last = last
                self.pay = pay
                self.email = first+last+"@companyname.com"
                
    def fullname(self):
        return "{} {}".format(self.first, self.last)

In [47]:
employe1 = Employee('manthan', 'panchal', 100000)

In [48]:
employe2 = Employee("xcy", "nadb", 32451)

In [49]:
employe3 = Employee("vvfr", "fedce", 4554)

In [50]:
print("{} {}, pay ={}".format(employe1.first, employe1.last, employe1.pay))

manthan panchal, pay =100000

In [51]:
print("{} {}, pay ={}".format(employe2.first, employe2.last, employe2.pay))

xcy nadb, pay =32451

In [52]:
print(employe1.fullname())

manthan panchal

In [53]:
print(employe2.fullname())

xcy nadb

In [54]:
Employee.fullname(employe1)

'manthan panchal'

## class variables

In [8]:
class Employee:
    def __init__(self, first, last, pay): #self , first, last, email
                self.first = first
                self.last = last
                self.pay = pay
                self.email = first+last+"@companyname.com"
                
    def fullname(self):
        return "{} {}".format(self.first, self.last)
    
    def apply_raise(self):
        return (pay*1.04)

In [9]:
emp1 = Employee("manthan", "panchal", 45000)

In [10]:
emp1.apply_raise()

NameError: name 'pay' is not defined