## Lists


list is a collection of a sequence of values

##### lists are mutable

Elements of a list can be of any type

List can consist n elements

indexing of lists is from left to right

starting from 0 to n

list can be nested and the rsulting list is called nested list

List is declared by enclosing elements by [] and the elements are , seperated

In [10]:
my_list = [1,2,3,6,5,43323,1,165,65,5]
my_list

[1, 2, 3, 6, 5, 43323, 1, 165, 65, 5]

In [9]:
my_list = ["manthan", "panchal", "ajay", "panchal", "manisha", "panchal"]
my_list

['manthan', 'panchal', 'ajay', 'panchal', 'manisha', 'panchal']

In [8]:
my_list = [4.5, 45.44251, 5645.656, 358.6564]
my_list

[4.5, 45.44251, 5645.656, 358.6564]

In [12]:
my_list = ['manthan', 'ajay', 'panchal', 23, 1.5]
my_list

['manthan', 'ajay', 'panchal', 23, 1.5]

In [13]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [2]:
my_list = ["M", "A", "N", "T", "H", "A", "N"]
print(len(my_list))

7

In [20]:
print(my_list[-1]), print(my_list[0])

N
M

(None, None)

# list sclicing

In [21]:
my_list[:2]

['M', 'A']

In [22]:
my_list[2:]

['N', 'T', 'H', 'A', 'N']

In [23]:
my_list[2:5:2]

['N', 'H']

In [24]:
my_list[::3]

['M', 'T', 'N']

In [3]:
my_list[::-1]

['N', 'A', 'H', 'T', 'N', 'A', 'M']

# Modifying lists

In [92]:
my_list = ["M", "A", "N", "T", "H", "A", "N"]

In [26]:
my_list.append("X")
my_list

['M', 'A', 'N', 'T', 'H', 'A', 'N', 'X']

In [28]:
my_list.insert(0, "__")
my_list

['__', 'M', 'A', 'N', 'T', 'H', 'A', 'N', 'X', '__']

In [33]:
list2 = ['A', 'J', 'A', 'Y']
my_list.insert(0,list2)
my_list

[['A', 'J', 'A', 'Y'], 'M', 'A', 'N', 'T', 'H', 'A', 'N']

In [35]:
list2 = ['A', 'J', 'A', 'Y']
my_list.append(list2)
my_list

['M', 'A', 'N', 'T', 'H', 'A', 'N', ['A', 'J', 'A', 'Y']]

In [55]:
list2 = ['A', 'J', 'A', 'Y']
my_list.extend(list2)
my_list

['M', 'A', 'N', 'T', 'H', 'A', 'N', 'A', 'J', 'A', 'Y']

In [44]:
my_list.pop()

'Y'

In [46]:
my_list.pop()

'A'

In [47]:
my_list.pop()

'J'

In [56]:
my_list.index("Y")

10

In [58]:
my_list.remove("M")
my_list

['A', 'N', 'T', 'H', 'A', 'N', 'A', 'J', 'A', 'Y']

In [62]:
my_list3 = [1,5,8,9,6,3,4,7]
my_list3.sort()
my_list3

[1, 3, 4, 5, 6, 7, 8, 9]

In [79]:
my_list3.sort(reverse=True)
my_list3

[9, 8, 7, 6, 5, 4, 3, 1]

In [77]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [81]:
min(my_list3)

1

In [82]:
max(my_list3)

9

In [84]:
sum(my_list3)

43

In [85]:
for num in my_list3:
    print(num)

9
8
7
6
5
4
3
1

In [86]:
for index,num in enumerate(my_list3):
    print(index, num)

0 9
1 8
2 7
3 6
4 5
5 4
6 3
7 1

In [88]:
for index,num in enumerate(my_list3, start = 1):
    print(index, num)

1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 1

## Most important of all

convert list to string

In [93]:
my_str = ', '.join(my_list)
my_str

'M, A, N, T, H, A, N'

In [96]:
my_str2 = " ".join(str(my_list3))
my_str2

'[ 9 ,   8 ,   7 ,   6 ,   5 ,   4 ,   3 ,   1 ]'

In [102]:
my_str = '-'.join(my_list)
my_str

'M-A-N-T-H-A-N'

In [104]:
my_str = '*'.join(my_list)
my_str

'M*A*N*T*H*A*N'

Convert str to list

In [103]:
mylistt = my_str.split('-')
mylistt

['M', 'A', 'N', 'T', 'H', 'A', 'N']

In [105]:
mylistt = my_str.split('*')
mylistt

['M', 'A', 'N', 'T', 'H', 'A', 'N']

Problem with mutables is that some time they can cause issues such as below

In [106]:
mylist1 = ["m", "a", "n", "t", "h", "a", "n"]
mylist2 = mylist1

mylist1[0] = "mm"

mylist1

['mm', 'a', 'n', 't', 'h', 'a', 'n']

In [107]:
mylist2

['mm', 'a', 'n', 't', 'h', 'a', 'n']

In [15]:
numbers  = [1,2,3,4,5,6]
import numpy as np
import statistics 

np.mean(numbers)

3.5

In [16]:
np.median(numbers)

3.5

In [17]:
statistics.mode(numbers)

1

to overcome this we use tuples